.Input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  padding: 0 0 0 0.5rem;
  height: 2.5rem;
  display: block;
  width: 100%;
  font-size: 18px;
  border: 1px solid #ced6e0;
}

.Input::placeholder {
  color: black;
  font-size: 18px;
}

.Input:focus::placeholder {
  color: transparent;
}

.Invalid {
  border-color: rgba(255, 0, 0, 0.5);
}

.Invalid:focus {
  outline: rgba(255, 0, 0, 0.5) 1px auto;
}

.Error {
  position: absolute;
  left: 0;
  margin: 0;
  color: rgba(255, 0, 0, 0.5);
  font-size: 10px;
  top: calc(100% + 0.5em);
}
