*,
*:before,
*::after {
  box-sizing: border-box;
}

.Form {
  background-color: white;
  border-radius: 0.5em;
  padding: 32% 15px 15px;
  width: 100%;
  margin-top: -27.5%;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.1);
}

.FormWrapper {
  box-sizing: border-box;
}

.Row {
  width: 100%;
  margin-top: 1.6em;
  position: relative;
}

.RowExpieryCvc {
  margin-top: 1.6em;
}

.RowExpiery {
  position: relative;
}

.RowCvc {
  position: relative;
  margin-top: 1.6em;
}

.Label {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5px;
}

.Submit {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: 1px solid #2364d2;
  margin-top: 1.5em;
  font-size: 22px;
  width: 100%;
  height: 55px;
  line-height: 55px;
  color: white;
  background-color: #2364d2;
  user-select: none;
  box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
}

@media (min-width: 768px) {
  .Form {
    background-color: white;
    border-radius: 0.5em;
    padding: 30% 35px 35px;
    margin-top: -25%;
  }

  .Row {
    margin-top: 2em;
  }
  .RowExpieryCvc {
    margin-top: 2em;
  }

  .RowExpiery {
    width: 40%;
    margin-right: auto;
  }

  .RowCvc {
    width: 40%;
    position: relative;
    margin-top: 0;
  }

  .RowExpieryCvc {
    display: flex;
  }
  .Submit {
    margin-top: 2.5em;
  }
}
