.move-up-enter {
  transform: translateY(100%);
  opacity: 0;
}

.move-up-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.move-up-exit {
  transform: translateY(0);
  opacity: 1;
}

.move-up-exit-active {
  transform: translateY(-100%);
  opacity: 0;
}

.fly-in-enter {
  transform: translateX(100%);
  opacity: 0;
}

.fly-in-enter-active {
  transform: translateX(0);
  opacity: 1;
}

.fly-in-exit {
  transform: translateX(0);
  opacity: 1;
}

.fly-in-exit-active {
  transform: translateX(-100%);
  opacity: 0;
}
