.Card {
  width: 85%;
  min-width: 270px;
  max-width: 430px;
  position: relative;
  margin: 0 auto;
  padding-top: 55%;
  border-radius: 1em;
  color: white;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.Wrapper {
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.Forward {
  border-radius: 1em;
  display: flex;
  padding: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "chip logo" "number number" "name expiration";
  z-index: 2;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  backface-visibility: hidden;
  box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
}

.Backward {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 1em;
  transition: transform 1s;
  transform: perspective(1000px) rotateY(180deg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1em;
  backface-visibility: hidden;
}

.Backward::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2em;
  top: 1em;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.Wrapper.IsFlipped .Forward {
  transform: perspective(1000px) rotateY(180deg);
}

.Wrapper.IsFlipped .Backward {
  transform: perspective(1000px) rotateY(0deg);
}

.Label {
  font-size: 13px;
  margin-bottom: 0.4em;
  display: block;
  color: rgba(255, 255, 255, 0.7);
}

.CardNumber {
  height: 2.5rem;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  grid-area: number;
  justify-self: stretch;
  width: 100%;
  align-self: center;
  cursor: pointer;
}

.Chip {
  width: 20%;
  height: auto;
  grid-area: chip;
  justify-self: start;
  align-self: start;
}

.Logo {
  width: 100%;
  height: 100%;
  grid-area: logo;
  justify-self: end;
  align-self: start;
}

.CardHolder {
  padding-left: 0.2rem;
  width: 100%;
  grid-area: name;
  justify-self: start;
  align-self: end;
  cursor: pointer;
}

.CardHolderName {
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.Expiration {
  padding-right: 0.2em;
  width: 100%;
  grid-area: expiration;
  justify-self: end;
  align-self: end;
  cursor: pointer;
}

.ExpirationWrapper {
  display: flex;
  /* justify-content: space-between; */
  /* width: 100%; */
}

.ExpirationMonth {
  display: inline-block;
}

.ExpirationYear {
  display: inline-block;
}

.Cvc {
  color: black;
  width: 70%;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: white;
  border-radius: 0.2em;
  text-align: right;
  padding-right: 0.5rem;
  font-size: 0.8em;
  font-style: italic;
}

@media (min-width: 768px) {
  .Card {
    width: 75%;
    min-width: 270px;
    max-width: 430px;
    position: relative;
    margin: 0 auto;
    padding-top: 50%;
  }
  .Wrapper {
    padding: 1.5em;
  }

  .Backward::before {
    height: 3em;
  }
}
