.Card {
  width: 75%;
  position: relative;
  transform: translate(19%, 50%);
  padding-top: 50%;
  border-radius: 1em;
  color: white;
  perspective: 1000px;
}

.Focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  position: absolute;
  transition: top 1s, width 1s, left 1s;
}

.Focus-CardNumber {
  z-index: 2;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2.5rem;
  width: 100%;
  transition: top 1s, width 1.5s;
}

.Focus-CardHolder {
  z-index: 2;
  top: calc(100% + 0.2em);
  transform: translateY(-100%);
  left: 0;
  height: 2.9rem;
  width: 75%;
}

.Focus-Expiration {
  z-index: 2;
  top: calc(100% + 0.2em);
  transform: translate(-100%, -100%);
  left: calc(100% + 0.2em);
  height: 2.9rem;
  width: 25%;
  transition: top 1s, width 1.5s;
}

.Wrapper {
  border: 1px solid black;
  background-color: black;
  border-radius: 1em;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  padding: 1em;
}

.Wrapper.IsFlipped {
  transform: rotateY(180deg);
}

.Forward {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.Backward {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 1em;
  transform: rotateY(180deg);
  border: 1px solid black;
  background-color: black;
  border-radius: 1em;
}

.CardNumber {
  height: 2.5rem;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  line-height: 2.5rem;
}

.BottomRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.TopRow {
  display: flex;
  justify-content: space-between;
}

.Chip {
  width: 16%;
  height: auto;
}

.Label {
  font-size: 13px;
  margin-bottom: 0.3em;
  color: rgba(255, 255, 255, 0.7);
}

.CardHolder {
  padding-left: 0.2rem;
  height: 100%;
  width: 75%;
}

.CardHolderName {
  text-transform: uppercase;
}

.Expiration {
  padding-right: 0.2em;
  width: 20%;
}

.ExpirationWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ExpirationMonth {
  display: inline-block;
}

.Cvc {
  color: black;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: white;
  border-radius: 0.2em;
  text-align: right;
  padding-right: 0.5rem;
  font-size: 0.8em;
}

.Logo {
  width: 18%;
  height: auto;
}
